<h1>Manga Library Database</h1>
<br>
<h2><%= @user.username %>'s Library</h2><br>
<a href="/mangas/new">Add A Manga</a><br><br>

<h3>Your Manga Library</h3>
<% @user.mangas.each do |manga| %>
    <a href="/mangas/<%= manga.id %>"><%= manga.title %> #<%= manga.issue %></a> -  Added on: <%= manga.created_at.to_s %><br>
<% end %>
<br>
<a href="/mangas"><h3>Return Home</h3></a>